<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleExecutable</key>
	<string>WeaveText</string>
	<key>CFBundleIdentifier</key>
	<string>com.weavetext.inputmethod.WeaveText</string>
	<key>CFBundleName</key>
	<string>WeaveText</string>
	<key>CFBundleDisplayName</key>
	<string>织文输入法</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@BUILD@</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>织文互联需要访问本地网络，才能发现同一 Wi-Fi 下的手机并与它互传文字、图片和文件。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_weavelink._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Apache-2.0</string>
	<key>InputMethodConnectionName</key>
	<string>com.weavetext.inputmethod.WeaveText_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>WeaveInputController</string>
	<key>TISInputSourceID</key>
	<string>com.weavetext.inputmethod.WeaveText</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>tsInputMethodIconFileKey</key>
	<string>InputMode.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
		<string>Hant</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.weavetext.inputmethod.WeaveText.pinyin</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.weavetext.inputmethod.WeaveText.pinyin</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smSimpChinese</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>InputMode.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>InputMode.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>InputMode.tiff</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.weavetext.inputmethod.WeaveText.pinyin</string>
		</array>
	</dict>
</dict>
</plist>
