<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.weavetext.ime.permission.TRANSLATION_PLUGIN" />
    <application
        android:allowBackup="false"
        android:label="织文设备端翻译插件"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".TranslationPluginService"
            android:exported="true"
            android:enabled="true"
            android:permission="com.weavetext.ime.permission.TRANSLATION_PLUGIN">
            <meta-data android:name="weave.translation.protocol" android:value="1" />
        </service>
    </application>
</manifest>
